<p>Hi <%= @user.login %>,</p>
<br/>
<p>You have sent <%= @type %> request { <%= format_short_time @timeout %> } for approval.</p>
<p>The request has been sent to the following for appropriate action:</p>
<p><Approver/s Name/s></p>
<br/>
<p>To view/edit request, please go to:</p>
<Link>
<br/>
<p>This is a system generated email. Please do not reply.</p>
<br/>
<p>Regards,</p>
<br/>
<p>eGEMs</p>
