form div.tiny
  fieldset, label, input, select
    font-size: 12px
    line-height: 12px

  input, select
    padding: 2px 6px

#details-tabs .tab-content div.two-column
  .control-group
    label.control-label
      width: 130px
    div.controls
      margin-left: 140px


div.control-group.required
  label.control-label
    &:after
      content: ' *'
      color: #cc0000


#holiday-search
  .ui-datepicker-inline
    border: 0
    padding: 0

  .ui-datepicker-calendar
    display: none

#shift-tbl
  tbody tr td
    padding: 1px 10px

  tbody tr th
    background-color: #efefef
    text-align: right
    padding: 1px 8px
    width: 160px

#shifts-tbl
  table-layout: fixed
  border-collapse: collapse

  thead
    tr
      border-bottom: 2px solid #aaa
  tr
    th, td
      padding: 2px

    th.thin, td.thin
      width: 35px

  thead tr th, tr.shift-schedule th
    padding: 4px

  tbody tr
    &:hover
      th
        background-color: #96c5ff
        cursor: pointer

    th
      border: 1px solid #ccc
      border-top: 2px
      background-color: #edecec
      padding-left: 6px

    span.actions
      float: right
      margin-right: 6px

  tbody tr.open th
    background-color: #d4e6f1
    border: 1px solid #ccc

  tbody tr.details-header
    font-size: 10px
    font-weight: bold
    background-color: #d4e6f1
    text-align: center

    &:hover, td
      background-color: #d4e6f1
      padding: 2px

.toggle-contents
  display: none
  .arrow-up
    border-color: white transparent
    border-style: solid
    border-width: 0px 10px 10px 10px
    height: 0px
    width: 0px
    position: relative
    top: 1px
    left: 1px

  .content-holder
    border-top: 1px solid #bfbfbf
    -moz-box-shadow: 0px -5px 10px #e5e5e5
    -webkit-box-shadow: 0px -5px 10px #e5e5e5
    box-shadow: 0px -5px 10px #e5e5e5

    .title
      background-color: #bfbfbf
      font-weight: bold
      font-size: 12pt
      color: #333
      padding: 10px
      margin: 2px
      background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(191,191,191) 100%)
      background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(191,191,191) 100%)
      background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(191,191,191) 100%)
      background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(191,191,191) 100%)
      background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(191,191,191) 100%)

    .contents
      margin: 10px
      max-height: 350px
      overflow-y: auto

.shift-form-container-wrapper
  width: 600px
  #holiday-form, #shift-form
    textarea
      resize: none
    .small
      font-size: 10px

#details-tabs .tab-pane
  input.ui-timepicker-input, input
    min-width: 5.5em
    width: 5.5em
    border-color: #ccc

.semi-modal
  border: 1px solid #ccc
  margin: 10px 0
  padding: 10px
  border-radius: 5px
  -moz-border-radius: 5px
