// Place all the styles related to the timesheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type="text"].time {
  text-align: center;
  padding: 4px 1px;
  width: 24px;
}

select.time {
  text-align: center;
  padding: 1px;
  width: 52px;
}

table.timesheets {
  border: 1px solid #ddd;
  font-size: 11px;
}

table.timesheets thead tr {
  border: 1px solid #aaa;
}

table.timesheets th {
  background-color: #ccc;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  text-align: center;
}

table.timesheets tbody td {
  border: 1px solid #ddd;
  text-align: center;
  width: 20%;
}

table.timesheets tbody td.mins {
  vertical-align: middle;
  text-align: center;
  width: 10%;
}

table.timesheets.daily tbody tr:hover td.mins {
  background-color: transparent;
}

table.timesheets tbody td.day {
  width: 5%;
}

.btn-large {
  font-weight: bold;
}

.icon-calendar {
  font-size: 15px;
}

body {
  min-width: 700px;
}

.container-fluid {
  padding: 0 0;
}

.span9 {
  min-width: 700px;
}
