<li class="divider-vertical">
</li>
<li>
  <a id="notif" href="/leaves" rel="popover" title="Notifications" data-placement="bottom" data-content="<%= "You have #{ leave_unit_sum } leaves pending." %>">
	<span class="badge badge-important"><%= leave_unit_sum %>
	  <i class="icon-flag icon-white"></i>
	</span>
  </a>
</li>