<body>
  <div style="background: #E8E8E8; width: 600px; padding: 20px;">
    <img src="<%= "#{email_logo}" %>" alt="Egems" border="none" style="margin-bottom: 20px; display: block; font-family: Verdana; font-weight: bold;"/>
    <div style="padding: 5px 20px 20px; background: #FFF; min-height: 200px; font-family: Verdana; font-size: smaller;">
      <%= yield %>
    </div>
  </div>
</body>

